.pointvalue-x{
  width: 100px;
}
.pointvalue-y{
  width: 100px;
}
#numOfPoint{
  width: 100px;
}

.points{
  padding: 10px;
  /* border: solid; */
}

.pointlistitem{
  margin: auto;
}

#canvas-div{
  width: 100%;
  height: 95%;
}

#canvas{
  display: block;
}
